In [2]:
import pandas as pd
import mysql.connector

In [5]:
#conexion base de datos
db_host = "localhost"
db_user = "root"
db_password = "Einstein1729"
db_name = "sensordht11"

In [7]:
#Establecemos la conexion
db = mysql.connector.connect(
    host = db_host,
    user = db_user,
    password = db_password,
    database = db_name
)

In [10]:
#consulta sql
query = "select temperatura, humedad, fecha from datos_sensor"

In [12]:
df = pd.read_sql_query(query, db, index_col = "fecha")
df

C:\Users\bigsh\AppData\Local\Temp\ipykernel_23272\1185004155.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, db, index_col = "fecha")

                     temperatura  humedad
fecha
2024-06-17 23:36:15         25.2     41.0
2024-06-17 23:36:15         25.2     41.0
2024-06-17 23:36:15         25.2     41.0
2024-06-17 23:36:15         25.2     41.0
2024-06-17 23:36:15         25.2     41.0
...                          ...      ...
2024-06-17 23:41:34         25.1     41.0
2024-06-17 23:41:35         25.1     41.0
2024-06-17 23:41:36         25.1     41.0
2024-06-17 23:41:37         25.1     41.0
2024-06-17 23:41:38         25.1     41.0

[328 rows x 2 columns]

In [13]:
db.close()

In [15]:
df.shape

(328, 2)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 328 entries, 2024-06-17 23:36:15 to 2024-06-17 23:41:38
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperatura  328 non-null    float64
 1   humedad      328 non-null    float64
dtypes: float64(2)
memory usage: 7.7 KB